
<mat-form-field style="width: 300px; margin: 50px auto; display: block;" >

  <input type="text" placeholder="Pokemon Names (type here to search)" matInput [formControl]="formControl" [matAutocomplete]="auto" >

  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let item of autoFilter | async" [value]="item" (onSelectionChange)="onSelFunc(item)">
      {{item}}
    </mat-option>
  </mat-autocomplete>

</mat-form-field>

<section id='selected-section'>
  
<div class="container" id="mainSect">
     <div class="row col-md-5 pl-0"><h2>Selected Pokemons</h2></div>
     <div class="row bg-dark text-light">
       <div class="col-sm-2">
        Favorite
      </div>
      <div class="col-sm-2">
        Avatar
      </div>
      <div class="col-sm-2">
        Name
      </div>
       <div class="col-sm-2">
        Height
      </div>
      <div class="col-sm-2">
        Weight
      </div>
    </div>
    <div class="row " *ngFor="let pokeM of pokeMonProfileList" [ngStyle]="getRowHighLight(pokeM)"> 
      <div class="col-sm-2 mr-2 m-cursor pt-3" [ngClass]="getSquareIcon(pokeM)" (click)="pokeM['selected']=!pokeM.selected" ></div> 
       <div class="col-sm-2">
        <img src="{{pokeM.sprites.front_default}}" alt="" class="img-fluid py-0 px-0 m-0 rounded-circle" (click)="showAlert()">

      </div>  
       <div class="col-sm-2 pt-3">
        {{pokeM.name}}
      </div>
      <div class="col-sm-2 pt-3">
        {{pokeM.height}}
      </div>
      <div class="col-sm-2 pt-3">
        {{pokeM.weight}}
      </div>
    </div>

  </div>
</section>

<footer id='footerSection'>
  <div class="container">  
    <div class="row" id="footerRow">
          <button class="btn btn-primary btn-sm col-md-2 " (click)="setFavorites()">Set Favorites</button>
         <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1"></div>    
          <button class="btn btn-primary btn-sm col-md-4" (click)="clearFavorites()">Clear Local Storage</button>
    </div>
  </div>
</footer>